@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("./blurredFireworks.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-size: auto;
    color: whitesmoke;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
}

.back-button {
    position: fixed;
    font-size: 1.25rem;
    bottom: 0;
    left: 0;
    padding: .5rem;
    border-radius: 15px;
    color: white;
    border: none;
    background-color: #4f4061;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
}

.big-text {
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-element {
    text-align: center;
}

.countdown-element span{
    font-size: 1.5rem;
}