:root {
  --yellow: rgb(255, 247, 130);
  --pink: rgb(255, 166, 156);
  --dark_pink: rgb(150, 69, 150);
}

.bingoWrapper {
  display: grid;
  place-content: center;
}

.bingoHeader {
  margin-right: auto;
  margin-left: auto;
}

button {
    background-color: rgb(255, 247, 130);
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    color:var(--dark_pink);
}

.bingoButton {
  width: 100%;
  height: 100%;
}

.winMessage{
  text-align: center;
  color:rgb(78, 78, 78);
  background-color: var(--yellow);
  padding: 0;
  border-radius: .5rem;
}

.winMessage, .hiddenWinMessage {
  font-size: 1.5rem;
}

.hiddenWinMessage {
  opacity: 0%;
}

.headImage {
  height: 78px;
}

table {
  width: 100vw;
  width: 100vw;
  max-width: 600px;
  
  /* border: 5px solid salmon;
  border-radius: .5rem; */
}
td {
  border: 5px solid var(--pink);
  background-color: var(--yellow);
  border-radius: .5rem;
  width: 10%;
  max-width: 1px;
  height: 100px;
}

