.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

.cell {
    font-size: 2rem;
    box-sizing: border-box;
    background-color: rgb(82, 57, 102);
    border-radius: .5rem;
    width: 100%;
    height: 100%;
}

.jumpButton {
    background-color: rgb(82, 57, 102);
    border-radius: .25rem;
}

* {
    color:azure;
}



.cell:nth-child(3n) {

}

#playGrid {
    width: 40vw;
    height: 30vw;
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {

}

body {
    background-color: rgb(95, 60, 95);
}