.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 200px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.cell {
    font-size: 2rem;
    box-sizing: border-box;
}


.cell:nth-child(3n) {

}

#playGrid {
    width: 40vw;
    height: 30vw;
}

.row {
    display: flex;
}

.column {
    flex:50%
}