@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    
}

.quiz-container {
    background-color: #332544;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

.quiz-header {
    padding: 2rem;
    border-radius: 50%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3046;
}

ul {
    list-style-type: none;
    padding: 0;
}
button {
    border-radius: 15px;
    color: white;
    border: none;
    background-color: #4f4061;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 2rem;
    cursor: pointer;
}

button:hover {
    background-color: #5c5268;
}