body {
    background-color: rgb(70, 64, 95);
}

* {
    box-sizing: border-box;
  }
  
.back-button {
    position: fixed;
    font-size: 1.25rem;
    bottom: 0;
    left: 0;
    padding: .5rem;
    border-radius: 15px;
    color: white;
    border: none;
    background-color: #4f4061;
    font-his will have a deleted items area. Hopefully collapsable.pins", sans-serif;
    display: block;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
}

.gridContainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    margin: 0 auto;
    align-items: start;
}

.grid-item {
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(112, 111, 179);
    width: 80%;
    min-width: 30px;
    max-width: 1000px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#ToDoHeading {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

#ToDos > *:hover, #deletedToDosButton:hover, #back-button:hover{
    background-color: rgb(160, 152, 194);
    color:beige;
}

#ToDos > *:hover {
    text-decoration: line-through;
}

#ToDoListDiv {
    width: 100%;
}

#deletedToDosButton {
    margin: auto;
}

#counterDiv, #deletedDiv {
    display: inline-block;
    font-size: 0.8rem;
}

#ToDos > *, #deletedToDosButton {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: rgb(75, 63, 109);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#ToDos > *, #inputNewToDo {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


#inputNewToDo {
    border-radius: 1rem;
    padding: 1rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: flex;
}